.primary {
  background-color: var(--primary-color);
}
.primary:hover {
  background-color: var(--button-bg-hover-primary);
}
.secondary {
  background-color: var(--secondary-color);
}
.secondary:hover {
  background-color: var(--button-bg-hover-secondary);
}
.tertiary {
  background-color: var(--tertiary-color);
}
.tertiary:hover {
  background-color: var(--button-bg-hover-tertiary);
}

.small {
  width: var(--small-size-width);
  height: var(--small-size-height);
  font-size: var(--small-size-font-size);
  font-weight: var(--small-size-font-weight);
}
.medium {
  width: var(--medium-size-width);
  height: var(--medium-size-height);
  font-size: var(--medium-size-font-size);
  font-weight: var(--medium-size-font-weight);
}
.large {
  width: var(--large-size-width);
  height: var(--large-size-height);
  font-size: var(--large-size-font-size);
  font-weight: var(--large-size-font-weight);
}
.xl {
  width: var(--xl-size-width);
  height: var(--xl-size-height);
  font-size: var(--xl-size-font-size);
  font-weight: var(--xl-size-font-weight);
}
.xxl {
  width: var(--xxl-size-width);
  height: var(--xxl-size-height);
  font-size: var(--xxl-size-font-size);
  font-weight: var(--xxl-size-font-weight);
}

.is-radius {
  border-radius: 20px;
}

button.custom-hover-bg:hover {
  background-color: var(--custom-hover-bg);
}
button.custom-font-size {
  font-size: var(--custom-button-font-size);
}

button {
  cursor: pointer;
  border: none;
  color: white;
  font-family: var(--font-family-default);
  outline: none;
}

.withButtonIcon-xxl span,
.withButtonIcon-xl span,
.withButtonIcon-large span {
    position: relative;
    vertical-align: middle;
}
