.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.material-icons.icon-custom-color {
  color: var(--mik-icon-custom-color);
}
.primary {
  color: var(--primary-color);
}
.secondary {
  color: var(--secondary-color);
}
.tertiary {
  color: var(--tertiary-color);
}
.mik-icon.xxl {
    font-size: 30px;
    vertical-align: middle;
    margin-right: 10px;
}
.mik-icon.xl {
    font-size: 25px;
    vertical-align: middle;
    margin-right: 5px;
}
.mik-icon.large {
    font-size: 21px;
    margin-right: 3px;
    vertical-align: middle;
}
.mik-icon.medium {
    font-size: 18px;
    margin-right: 3px;
    vertical-align: middle;
}
.mik-icon.small {
    font-size: 17px;
    margin-right: 3px;
    vertical-align: middle;
}