.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.material-icons.icon-custom-color {
  color: var(--mik-icon-custom-color);
}
span.material-icons.iconOnly {
  padding: 10px;
  border-radius: 50%;
  margin: 0;
  color: var(--mik-icon-custom-color);
}
span.material-icons.iconOnly:hover {
  /* padding: 10px; */
  background-color: var(--mik-icon-only-hover-color);
  border-radius: 50%;
}
.primary {
  color: var(--primary-color);
}
.secondary {
  color: var(--secondary-color);
}
.tertiary {
  color: var(--tertiary-color);
}
.mik-icon.xxl {
    font-size: 30px;
    vertical-align: middle;
    margin-right: 10px;
}
.mik-icon.xl {
    font-size: 25px;
    vertical-align: middle;
    margin-right: 5px;
}
.mik-icon.large {
    font-size: 21px;
    margin-right: 3px;
    vertical-align: middle;
}
.mik-icon.medium {
    font-size: 18px;
    margin-right: 3px;
    vertical-align: middle;
}
.mik-icon.small {
    font-size: 17px;
    margin-right: 3px;
    vertical-align: middle;
}
span.mik-icon.iconOnlySmallest {
  font-size: 21px;
}
span.mik-icon.iconOnlySmall {
  font-size: 25px;
}
span.mik-icon.iconOnlyMedium {
  font-size: 30px;
}
span.mik-icon.iconOnlyLarge {
  font-size: 35px;
  padding: 12px;
}
span.mik-icon.iconOnlyXl {
  font-size: 40px;
  padding: 12px;
}
span.mik-icon.iconOnlyXxl {
  font-size: 45px;
  padding: 15px;
}
span.mik-icon.iconOnlyXxxl {
  font-size: 50px;
  padding: 15px;
}
span.mik-icon.iconOnlyX5 {
  font-size: 55px;
  padding: 15px;
}
span.mik-icon.iconOnlyX6 {
  font-size: 60px;
  padding: 20px;
}